/*  your css code here. If applicable */

.container{
   display:flex;
	justify-content:center;
	align-items:center;
	width:300px;
	height:100px;
	background-color:#d3d3d3;
	border:2px solid black;
	gap:5px;

	border-radius:30px;
}

.green{
 
	height:50px;
	width:50px;
	background-color:green;
	border-radius:50%;
	text-align:center;
	
}
.yellow{
 
	height:50px;
	width:50px;
	background-color:yellow;
	border-radius:50%;
text-align:center;
	
}
.red{
 
	height:50px;
	width:50px;
	background-color:red;
	border-radius:50%;
   text-align:center;
	
}

